<h1>TEST RESULT </h1>
<h2>YOUR RESULT : <%= result.res%> </h2>
<li>Q1: <%= result.crime%> </li>
<li>Q2: <%= result.weapon%> </li>
<li>Q3: <%= result.race%> </li>
<li>Q4: <%= result.area%> </li>

<form action="/" method="get">
	<button>Try Again</button>
</form>


